html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#fdfeff, #000811);
  }
  
  .login-box {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 300px;
    padding: 40px;
    transform: translate(-60%, -60%);
    background: rgba(81, 13, 207, 0.5);
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #f0e1e1;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #0a0101;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #eee3e1;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fcfbff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

#error{
    font-size: 20px;
    color: rgb(253, 3, 3);
}